.major-box{
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 4% 96%;
}

.minor-box{
  grid-row-start: 1;
  background-color: rgb(218, 218, 218);
  margin-left: 10px;
  margin-right: 10px;
  padding: 5px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
}

.card:hover {
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.562);
}

.grid-container {
  display: grid;
  height: auto;
  grid-template-columns: 19% 39.5% 40%;
  grid-template-rows: 350px 400px;
  grid-gap: 10px;
  background-color: rgb(180, 185, 159);
  padding: 10px;
  border-radius: 5px;
}

.wide-boi {
  grid-row-start: 2;
  grid-column-start: 2;
  grid-column-end: 4;
}

.grid-container>div {
  background-color: rgb(255, 255, 255);
  text-align: center;
  padding: 20px 0;
}

.user-card {
  grid-row-start: 1;
  grid-row-end: 3;
  text-align: left;
}

.user-text {
  text-align: left;
  margin-left: 10px;
}

.mini-grid-container {
  display: grid;
  grid-template-columns: 5% 95%;
  grid-template-rows: 5% 95%;
}

.small-mini {
  grid-row-start: 1;
  grid-row-end: 1;
}

.big-mini {
  grid-row-start: 2;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 3;
}

.small-button {
  margin-left: 15px;
  width: 15px;
  height: 15px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
}

.small-button:hover {
  width: 16px;
  height: 16px;
  transform: rotate(180deg);
  transition: 0.3s;
}

.long-grid-container {
  margin: 0%;
  display: grid;
  grid-template-rows: 12% 88%;
}

.long-long {
  grid-row: 2;
  grid-column-start: 1;
  grid-column-end: 3;
}

.long-thin {
  grid-row: 1;
  float: left;
  position: relative;
  width: auto;
}

.dropdown-opt {
  position: relative;
  width: auto;
}

.slide-in-left {
	-webkit-animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide-in-top {
	-webkit-animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.2s both;
	        animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.2s both;
}

.slide-in-right {
	-webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.4s both;
	        animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.4s both;
}

.slide-in-bottom {
	-webkit-animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.6s both;
	        animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.6s both;
}

 @-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}


 @-webkit-keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
            transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
            transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

 @-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

 @-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
.bouncing-loader {
  display: flex;
  justify-content: center;
}

.bouncing-loader > div {
  width: 1rem;
  height: 1rem;
  margin: 3rem 0.2rem;
  background: #8385aa;
  border-radius: 50%;
  animation: bouncing-loader 0.6s infinite alternate;
}

.bouncing-loader > div:nth-child(2) {
  animation-delay: 0.2s;
}

.bouncing-loader > div:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes bouncing-loader {
  to {
    opacity: 0.1;
    transform: translate3d(0, -1rem, 0);
  }
}
