.slide-in-top {
	-webkit-animation: slide-in-top 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) 1s both;
	        animation: slide-in-top 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) 1s both;
}

 @-webkit-keyframes slide-in-top {
    0% {
      -webkit-transform: translateY(-1000px);
              transform: translateY(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-top {
    0% {
      -webkit-transform: translateY(-1000px);
              transform: translateY(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  
  
  